body {
    font-family: Tahoma;
    font-size: 12px;
}

form {
    width: 500px;
    margin: auto;
    background-color: #FFFFCC;
    padding: 10px;
    border: 1px solid #999;
}

.title {
    text-align: center;
    color: #336699;
}

table {
    width: 100%;
    border-collapse: collapse;
}

td {
    padding: 6px;
    vertical-align: middle;
}

input[type="text"],
textarea,
select {
    width: 95%;
}

fieldset {
    border: 1px solid #996600;
    padding: 5px;
}

legend {
    color: #996600;
}

.success {
    text-align: center;
    color: #FF6600;
    font-weight: bold;
}
